.intro {
    background-image: url(../img/background2.jpg);
    height: 600px;
    background-attachment: fixed;
    background-position: 0 0px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    position: relative;
}

.introText {
    margin: 0px;
    color: #f5f2d0;
    position: absolute;
    top: 20%;
    left: 3%;
}

.attentionGrabber {
    font-size: 4em;
}

.myName {
    font-size: 5em;
}