@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

html, 
body {
    margin: 0px;
    background-color: #FEFCFB;
    font-family: 'Montserrat', sans-serif;
}

.sectionHeader {
    text-align: center;
    margin: 0;
    padding: 1em;

}

.section {
    margin-bottom: 0em;
}




/* Header */
.header{    
    display: flex;
    justify-content: space-between;
    z-index: 1;
    background-color: #1282A2;
    color: #FEFCFB;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.brand {
    display: flex;
    margin-left: 3em;
    margin-right: .75em;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 3em;
}

.headerList {
    display: flex;    
    margin-right: 2em;
}
.headerLink {
    display: flex; 
    padding: .5em;
    margin: 1em;
}

a {
    color: #FEFCFB;
    text-decoration: none;
    font-size: large;
}
a:hover {
    color: #1d2d50;
}




/* Introduction */
#intro {
    height: 500px;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.introText {
    margin: 0px;
    color: #1d2d50;
    padding: 2em;
}

.attentionGrabber {
    font-size: 3em;
    margin: 12px;
    text-align: center;
    color: black;
}

.myName {
    font-size: 2em;
    margin: 0px;
    text-align: center;
}




/* About */
#about {
    background-color: #1d2d50;
    color: #FEFCFB;
    padding: 2em;
}




/* Experience */
#experience {
    text-align: center;
}




/* Experience Cards */
.experienceCard {
    width: 800px;
    flex: display;
    border-style: solid;
    border-color: black;
}




/* Footer */




@media only screen and (max-width: 800px) {
    .headerList {
      display: none;
    }
  }