@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

html, 
body {
    margin: 0px;
    background-color: #FEFCFB;
    font-family: 'Montserrat', sans-serif;
}

.sectionHeader {
    text-align: center;
    padding: 1em;
    margin-bottom: 1em;
}

.section {
    margin-bottom: 0em;
    padding: 1em;
}




/* Header */
.header{    
    display: flex;
    justify-content: space-between;
    z-index: 1;
    /* background-color: #1282A2; */
    background-color: #FEFCFB;
    color: #1d2d50;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
}

.brand {
    display: flex;
    margin-left: 3em;
    margin-right: .75em;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 3em;
}

.headerList {
    display: flex;    
    margin-right: 2em;
}
.headerLink {
    display: flex; 
    padding: .5em;
    margin: 1em;
}

a {
    color: #1d2d50;
    text-decoration: none;
    font-size: large;
}
a:hover {
    /* color: #1d2d50; */
    color: #1282A2;
}




/* Introduction */
#intro {
    padding-top: 100px;
    padding-bottom: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.introText {
    margin: 0px;
    color: #1d2d50;
    padding: 0  em;
}

.attentionGrabber {
    font-size: 3em;
    margin: 12px;
    text-align: center;
    color: black;
}

.myName {
    font-size: 2em;
    margin: 0px;
    text-align: center;
}




/* About */
#about {
    background-color: #1d2d50;
    color: #FEFCFB;
}

.aboutBody {
    display: flex;
    flex-direction: row;
}

.aboutText {
    /* background-color: #0f4c75; */
    padding: 3em;
}


/* Experience */
#experience {
    text-align: center;
}




/* Experience Cards */
.experienceCard {
    flex: display;
    border-style: solid;
    border-color: black;
}

.experienceContainer {
    
}



/* Footer */
#contact {
    background-color: #1d2d50;
    color: #FEFCFB;
    padding: 2em;
}




@media only screen and (max-width: 850px) {
    .headerList {
      display: none;
    }

    .logo {
        width: 50px;
        height: 50px;
        margin-right: 1.5em;
    }

    .attentionGrabber {
        font-size: 2em;
        margin: 12px;
        text-align: center;
        color: black;
    }
    
    .myName {
        font-size: 1.5em;
    }

    #intro {
        padding-top: 50px;
        padding-bottom: 100px;
    }

    
  }