@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

html,
body {
    margin: 0px;
    background-color: #FEFCFB;
    font-family: 'Montserrat', sans-serif;
}

.sectionHeader {
    text-align: left;
    margin: 0 auto;
    padding: 1rem;
    max-width: 50rem;
}

.section {
    margin-bottom: 0rem;
    padding: 1rem;
}




/* Header */
.header{
    display: flex;
    justify-content: space-between;
    z-index: 1;
    /* background-color: #1282A2; */
    background-color: #FEFCFB;
    color: #1d2d50;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.brand {
    display: flex;
    padding-left: 3rem;
    padding-right: .75rem;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 3rem;
}

.headerList {
    display: flex;
    margin-right: 2rem;
}
.headerLink {
    display: flex;
    padding: .5rem;
    margin: 1rem;
}

.header a {
    color: #1d2d50;
    text-decoration: none;
    font-size: large;
}

a:visited {
    color: #1d2d50;
}

.section a {
    color: #1282A2;
    text-decoration: none;
}

a:hover {
    color: #1282A2;
}




/* Introduction */
#intro {
    padding-top: 12rem;
    padding-bottom: 16rem;
    display: flex;  
    justify-content: center;
    flex-direction: column;
}

.introText {
    margin: 0px;
    color: #1d2d50;
}

.attentionGrabber {
    font-size: 3rem;
    margin: 12px;
    text-align: center;
    color: black;
}

.myName {
    font-size: 2rem;
    margin: 0px;
    text-align: center;
}




/* About */
#about {
    /*background-color: #1d2d50;
    color: #FEFCFB;*/
    padding-bottom: 10rem;
}

.aboutText{
    text-align: left;
    max-width: 50rem;
    margin: 0 auto;
    padding: 0 1rem;
}

.miniDescription {
    margin-top: 0rem;
}

.orange {
    color: #db6923;
}

.bittermelon {
    color: #9aae07;
}



/* Impact */
#impact {
    /*background-color: #1d2d50;
    color: #FEFCFB;*/
    padding-bottom: 10rem;
}

#impact li {
    margin: 0.75rem;
}


/* Experience */
.experienceContainer {
    justify-content: center;
    padding-bottom: 4rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.experienceCard {
    text-align: left;
    max-width: 50rem;
    margin: 0 auto;
    padding-bottom: 0.5rem;
}

.experienceDescription{
    text-align: left;
    margin-top: 0.5rem;
}

.experienceCard h3 {
    color: #1282A2;
    margin: 0;
}




/* Footer */
#contact {
    padding: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

#contact h2 {
    padding: 0;
}

#contact a {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}




@media only screen and (max-width: 850px) {
    .headerList {
      display: none;
    }

    .logo {
        width: 50px;
        height: 50px;
        margin-right: 1.5rem;
    }

    .attentionGrabber {
        font-size: 2rem;
        margin: 12px;
        text-align: center;
        color: black;
    }

    .myName {
        font-size: 1.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #intro {
        padding-top: 8rem;
        padding-bottom: 12rem;
    }
  }

  @media only screen and (max-width: 550px) {
    .brand {
        padding-left: 1.5rem;
    }
    
    .brand h2 {
        display: none;
    }

    #intro {
        padding-top: 6rem;
        padding-bottom: 8rem;
    }
  }